<!-- genre-form.component.html -->
<title>CRUD géneros</title>
<link rel="stylesheet" type="text/css" href="../generos/generos.component.css">

<div class="container">
    <h2>Gestión de géneros</h2>
    <!-- Formulario para agregar/editar géneros -->
    <div class="genre-form">
      <h3>{{ editMode ? 'Editar Género' : 'Crear un género' }}</h3>
      <form [formGroup]="listaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="genero">Nombre del género:</label>
          <input type="text" id="genero" formControlName="genero" />
        </div>
      
        <div>
          <button type="submit">{{ editMode ? 'Actualizar género' : 'Agregar género' }}</button>
          <button type="button" (click)="onCancelClick()">Cancelar</button>
        </div>
      </form>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  
    <!-- Lista de géneros existentes -->
    <div class="genre-list">
      <h3>Ver lista de Géneros:</h3>
      <ul>
        <li *ngFor="let lista of listas">
          <div>
            {{ lista.id }} - {{ lista.genero }}
          </div>
          <div class="actions">
            <button *ngIf="lista.id !== undefined" class="edit" (click)="editLista(lista.id)">Editar género</button>
            <button *ngIf="lista.id !== undefined" class="delete" (click)="deleteLista(lista.id)">Eliminar género</button>
          </div>
        </li>
      </ul>
    </div>
  </div>  
  
  <router-outlet></router-outlet>